.contacts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 86px;
  flex-wrap: wrap;
  margin-right: 20px;

  @include vp-1023 {
    align-self: flex-start;
    padding-right: 3px;
    margin: 0;
    gap: 26px;
  }

  @include vp-769 {
    gap: 40px;
    padding-right: 20px;
    padding-top: 3px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;ы
  gap: 20px;
  padding: 5px;
  color: $light-blue-text;

  @include vp-1023 {
    padding: 0;
    justify-content: center;
    width: 40px;
    height: 40px;
  }


  @include vp-769 {
    width: 20px;
    height: 20px;
  }

  @include focus {
    outline: 2px solid $neon-blue;
  }
}

.contacts-list__link:hover {
  opacity: 0.6;
}

.contacts-list__link:hover svg {
  color: $white;
}

.contacts-list__text {
  display: block;

  @include vp-1023 {
    display: none;
  }
}
