.feedback {
  padding-top: 169px;
  padding-bottom: 252px;
  background: $blue-to-neon-blue;

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 126px;
    background: $neon-blue;
  }

  @include vp-769 {
    padding-bottom: 88px;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__image-wrapper img {
  position: absolute;
  content: "";
  top: 78px;
  left: 42px;
  width: 510px;
  height: 285px;

  @include vp-1279 {
    width: 408px;
    height: 228px;
  }

  @include vp-1023 {
    display: none;
  }
}

.feedback__content-wrapper {
  padding-left: 628px;

  @include vp-1279 {
    padding-left: 450px;
  }

  @include vp-1023 {
    padding-left: 0;
  }
}

.feedback h5 {
  margin: 0;
  margin-bottom: 10px;
  font-family: $title-font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;

  @include vp-1023 {
    margin-bottom: 7px;
  }

  @include vp-769 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

.feedback p {
  margin: 0;
  margin-bottom: 35px;
  color: $white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-769 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 35px;
  }
}

.feedback input:hover,
.feedback textarea:hover {
  opacity: 0.6;
}

.feedback input:focus,
.feedback textarea:focus {
  box-shadow: 0 3px 10px $dark-blue;
}

.feedback input:active {
  opacity: 1;
}

.feedback__content-wrapper .feedback__form label {
  position: relative;

  &.is-invalid {
    input,
    textarea {
      border: none;
      outline: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: none;
        outline: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: none;
      outline: 2px solid #22b259;

      &:focus,
      &:hover {
        border: none;
        outline: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    left: 0;
    bottom: -22px;

    &.is-invalid {
      opacity: 1;
      font-size: 14px;
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
