.feedback-form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-bottom: 20px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.feedback-form__input-wrapper input {
  box-sizing: border-box;
  padding: 15px;
  color: $white;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  outline: none;
  caret-color: $neon-blue;

  @include vp-1023 {
    min-width: 320px;
  }

  @include vp-767 {
    min-width: auto;
    width: 100%;
  }
}

.feedback-form__input-wrapper input::placeholder {
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.feedback-form textarea {
  width: 100%;
  padding: 15px;
  padding-top: 25px;
  margin-bottom: 35px;
  color: $white;
  background: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  outline: none;
  caret-color: $neon-blue;

  @include vp-1023 {
    padding-top: 32px;
    margin-bottom: 29px;
  }

  @include vp-767 {
    padding-top: 25px;
    margin-bottom: 27px;
    min-height: 180px;
  }
}

.feedback-form textarea::placeholder {
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.feedback-form__button-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 50px;

  @include vp-1023 {
    gap: 85px;
    align-items: center;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 19px;
  }
}

.feedback-form__button-wrapper input {
  position: relative;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border: 1px solid $white;
  border-radius: 2px;
  background-color: transparent;
  appearance: none;
}

.feedback-form__button-wrapper input::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: $color-transparent;
  border: 1px solid $white;
  border-radius: 2px;
  appearance: none;
  opacity: 0;
}

.feedback-form__button-wrapper input:checked::after {
  top: 4px;
  left: 5px;
  width: 7px;
  height: 5px;
  border-color: $color-default-white;
  border-radius: 0;
  border-top-style: none;
  border-right-style: none;
  border-width: 1.5px;
  transform: rotate(-45deg);
  opacity: 1;
}

.feedback-form__checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.feedback-form__checkbox-wrapper input {
  cursor: pointer;
}

.feedback-form__checkbox-wrapper span {
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
}

.feedback-form__input-wrapper--modal {
  display: flex;
  flex-direction: column;
}

.feedback-form--modal textarea {
  margin-bottom: 29px;
}

.feedback-form__button-wrapper--modal {
  gap: 16px;
}
