.logo {
  @include hover {
    opacity: 0.6;
  }

  @include focus {
    outline: 2px solid $neon-blue;
  }
}

.logo__img {
  width: 215px;
  height: 55px;

  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}

.logo__img--footer {
  @media (max-width: 767px) {
    width: 215px;
    height: 55px;
  }
}
