.main-header {
  z-index: 100;
  padding-top: 25px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  top: 0;
  min-height: 120px;
  width: 100%;
  text-align: center;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
    padding-top: 18px;
  }

  @include vp-769 {
    min-height: 70px;
    padding-top: 16px;
  }
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 63px;

  @include vp-1023 {
    padding-right: 17px;
    align-items: center;
  }

  @include vp-769 {
    padding-right: 0;
  }
}

.main-header__logo {
  margin-right: 25px;
}

.main-header__button {
  @media (max-width: $vp-1024) {
    display: none;
  }
}
