$mobile-width: 768px;
$tablet-width: 770px;
$desktop-width: 1920px;
$mobile-width-only: 769px;
$title-font-family: "Roboto Condensed", sans-serif;
$text-font-family: "PT Mono", "Courier New", monospace;
$white: #ffffff;
$light-blue-text: #f2f5f6;
$light-blue-background: #f8fdff;
$dark-blue: #041827;